#custom-button {
  list-style-image: url("chrome://reloadchrome/content/refresh24.png");
}

toolbar[iconsize="large"] #custom-button {
  list-style-image: url("chrome://reloadchrome/content/refresh24.png");
}
toolbar[iconsize="small"] #custom-button {
  list-style-image: url("chrome://reloadchrome/content/refresh16.png");
}
